* {
    margin: 0;
    padding: 0;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;

}

.img-spoon {
    width:500px;
    height: 500px;
    background-image: url(img/spoon4.png);
   background-size: 100%;
   background-repeat: no-repeat;
}
